
/*reset*/
button {
  all: unset;
}

.CheckboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px black;
}
.CheckboxRoot:hover {
  background-color: ;
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: black;
}

.Label {
  color: black;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}